<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:;base64,=">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <%- include('../../partials/scripts'); %>
        <title>Compra finalizada</title>
</head>
<body>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    
    <main>
        <div class="container-fluid p-4 text-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="fs-1 mt-4">Felicitaciones <%= user %>!</h2>
                        <img class="img-fluid w-50" src="https://curso-37545-proyecto.vercel.app/media/shipping1.gif" alt="paquete">
                        <p class="fs-4 m-0">La orden se generó con el n°: <br><b class="fs-2"><%= orden %></b></p>
                        <p class="fs-6 mb-4">(Te enviaremos el n° de orden y los datos de tu compra a tu mail)</p>
                        <a class="btn btn-primary" href="/">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>

</body>
</html>